
header h1 {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

ul{
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-right: 7rem;
    margin-left: 7rem;
}


.d-nav :hover{
    color: rgb(224, 117, 2);

}

.d-focus{
    background-color: rgb(255, 193, 7, 1);
    color: black;
}

.d-item{
    height: 600px;
}

.d-img{
    height: 100%;
    filter: brightness(0.6);
}

a {
    text-decoration: none;
    color: black;
}



  .img-container {
    position: relative;
    overflow: hidden;
  }

  .img-container {
    padding-right: 200px;
    margin-bottom: 100px;
  }

  .img-uniforme {
    width: 200px;
    height: 200px;
  }
  
  .img-separada {
    margin: 20px;
  }

.img-name {
    position: relative;
    bottom: 5;
    left: 5;
    right: 5;
    text-align: center;
    background-color: rgba(253, 253, 253, 0.726);
    padding: 10px;
    margin: 0;
  }

  .img-container {
    position: relative;
    overflow: hidden;
  }

  .img-container {
    padding-right: 200px;
    margin-bottom: 100px;
  }

  .img-uniforme {
    width: 200px;
    height: 200px;
  }
  
  .img-separada {
    margin: 20px;
  }

  .texto{
    display: flex;
    justify-content: space-between;
  }