
header h1 {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-right: 7rem;
    margin-left: 7rem;
}

.perro-1 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-left: 1rem;
}

.perro-2 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 1rem;
}

.perro-3 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 1rem;
}

.perro-4 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 1rem;
}


.d-nav :hover{
    color: rgb(224, 117, 2);

}

.d-focus{
    background-color: rgb(255, 193, 7, 1);
    color: black;
}

.d-item{
    height: 600px;
}

.d-img{
    height: 100%;
    filter: brightness(0.6);
}


a{
    text-decoration: none;
}
