header h1 {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

ul{
    display: flex;
    margin: 2rem;
    flex-direction: column;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-right: 7rem;
    margin-left: 7rem;
}

.d-nav :focus{
    color: rgb(224, 117, 2);
    color: white;

}

.d-focus{
    background-color: rgb(224, 117, 2);
    color: white;
}

a {
    text-decoration: none;
    color: black;
}
